@import url(http://fonts.googleapis.com/css?family=Raleway:400,500,100,200,300,600,700,800,900);
@import url(https://fonts.googleapis.com/css?family=Patrick+Hand+SC);
html, body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cfd8dc+0,607d8b+100,b0bec5+100 */
    background: #cfd8dc; /* Old browsers */
    background: -moz-linear-gradient(-45deg,  #cfd8dc 0%, #607d8b 100%, #b0bec5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg,  #cfd8dc 0%,#607d8b 100%,#b0bec5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfd8dc', endColorstr='#b0bec5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    overflow: hidden;
}

.center {
    cursor: default;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.center h1, .center h2 {
    text-transform: uppercase;
    margin: 0;
}
.center h2 {
    letter-spacing: .4em;
    padding: .4em .7em;
    color: #000000;
    background-color: #FFFFFF;
}
.center h1 {
    color: #FFFFFF;
    font-size: 3.2em;
}
.center .demo button {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    border: 1px solid;
    padding: 10px;
    width: 200px;
    border-radius: 3px;
    box-shadow: 1px 5px 20px -5px rgba(0,0,0,0.4);
    color: #FFFFFF;
    margin-top: 10px;
    cursor: pointer;
}
.center .demo > .btn_blue:hover {
    background-color: rgba(66, 143, 190, 0.2);
    transition: 1s all ease;
}