{% extends "viewsTemplate/base.html.twig" %}

{% block content %}
    <div class='center'>
        <h2>{{ hello }}</h2>
        <h1>{{ origins }}</h1>
    </div>
{% endblock %}
{% block js %}
parent()
{% endblock %}