{% extends "baseTemplate/base.html.twig" %}
{% block title %}Home{% endblock %}
{% block content %}
    <div class='center'>
        <h2>{{ hello }}</h2>
        <h1>{{ origins }}</h1>
        <div class="demo">
            <a href="/shop" class="btn_blue">GO TO EXAMPLE</a>
        </div>
    </div>
{% endblock %}